<html>
	<head>
		<title>Multiplayer Memory Game</title>
        <script type="text/javascript" src="/static/jquery-1.5.min.js"></script>
        <script type="text/javascript" src="/static/jquery-ui-1.8.22.custom.min.js"></script>
        <script src="/static/jquery.cookie.js"></script>
		<script src="/static/entrance.js"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="/static/jquery-ui-1.8.22.custom.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/static/memory.css" />
	</head>
	<body>

		<div id="title_0">Welcome!</div>
		<div id="content">
			<div id='usrID'></div>
			<div id="instruction">
				Please find a quiet place and use a headset.<br/>
				Press button to choose group.
			</div>
			<br />
			<div id='space0' class='side_space'></div>
			<div id='space1' class='side_space'></div>
			<button id="side0" type="button" class='side_button'>GROUP A</button>
			<button id="side1" type="button" class='side_button'>GROUP B</button>
			</br>
			<div id="side" style="font-size:150%"></div>
			</br>
		</div>
		<button id="start" type="button">START</button>
	</body>
</html>
