<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="/static/jquery-1.5.min.js"></script>
        <script type="text/javascript" src="/static/jquery-ui-1.8.22.custom.min.js"></script>
		<script type="text/javascript" src="/static/supervise.js"></script>

        <script src="/static/jquery.cookie.js"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="/static/jquery-ui-1.8.22.custom.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/static/memory.css" />
        <title>Multi-player Memory Game</title>
    </head>
    <body>
        <div id="title"> ==SUPERVISOR== </div>
        <br />
	<br />
	<br />
	<br />
        <div id="boxcard">
			<div id="card1"><img src="static/img/1_1.png" /></div>
            <div id="card2"><img src="static/img/1_2.png" /></div>
			<div id="card3"><img src="static/img/2_1.png" /></div>
            <div id="card4"><img src="static/img/2_2.png" /></div>
			<div id="card5"><img src="static/img/3_1.png" /></div>
            <div id="card6"><img src="static/img/3_2.png" /></div>
			<div id="card7"><img src="static/img/4_1.png" /></div>
            <div id="card8"><img src="static/img/4_2.png" /></div>
			<div id="card9"><img src="static/img/5_1.png" /></div>
            <div id="card10"><img src="static/img/5_2.png" /></div>
			<div id="card11"><img src="static/img/6_1.png" /></div>
            <div id="card12"><img src="static/img/6_2.png" /></div>
			<div id="card13"><img src="static/img/7_1.png" /></div>
            <div id="card14"><img src="static/img/7_2.png" /></div>
			<div id="card15"><img src="static/img/8_1.png" /></div>
            <div id="card16"><img src="static/img/8_2.png" /></div>
        </div>
        <div id="waiting"></div>
    	<div id='txtarea'>
            <div id="dbg"></div>
			<div id="game">Game ID: </div>
            <div id="correct_A">Score: 0</div>
            <div id="move_A">Moves: 0</div>
            <div id="correct_B">Score: 0</div>
            <div id="move_B">Moves: 0</div>
            <div id="timer">Countdown: -- seconds</div>
			<br />
			<br />
			<button id="restart" type='button'>RESTART</button>
			<button id="close" type='button'>CLOSE</button>
            <br />
            <br />
		</div>
		<br />
    </body>
</html>
